.header{
    display: inline-block;
    top:0;
    position: sticky;
    width: 100%;
    background-color: var(--black);
    color: white;
}

.logo{
    display: inline-block;
    color:white;
    font-size: 60px;
    margin-left: 10px;
}

.mainNav{
    width: 100%;
    height: 100%;    
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
}

.menu a{
    color: white;  
    padding: 30px;
    display: block;
}

.menu a:hover{
 color:yellow;
}

.mainNav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/*in devices with the min width of 768px
    the menu will be showed on the top of the page in full*/
@media(min-width:768px){
    .mainNav{
        max-height: none;
        top:0;
        position: relative;
        float:right;    
        width: fit-content;
    } 

    .menu li{
        float:left; 
    }

    .menu a:hover{
        color:red;
        background-color: transparent;
    }

    .hamb{
        display: none;
    }

}