@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Nabla&display=swap');


:root {
  --black: #000000;
  --fs-sm: 14px;
  --fs-md: 16px;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

section {
  min-width: 100%;
  margin: 0;
  scroll-margin-top: 0;
}

.p-menuleft{
  padding-left: 100px;
}
.p-menuright{
  padding-right: 100px;
}

body {
  font-family: Antonio !important;
}

.primarySecondary {
  background-color: black;
  color: white;
}

.secondaryPrimary {
  background-color: white;
  color: black;
}

.z-index-top{
  z-index: 9999;
}

/*Skills*/
.card {
  padding: 20px;
  margin-right: 5px;
  margin-top: 10px;
  width: 100%;
  float: left;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -6px #000000;
}

.card p {
  display: flex;
  font-size: 1.2em;
  padding: 20px;
}

.cardimg {
  display: flex;
  margin: 20px auto;
  font-size: 3em;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #C0C0C0;
  box-shadow: 0px 0px 16px -6px #000000;
}


/*bigger screens configs*/
@media(min-width:768px) {

  .mainTitle {
    font-size: 5em !important;
  }

  #skillsPainel {
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 40%;
    display: inline;
  }

  .form {
    width: 600px;
  }

  .tab {
    margin-left: 0.4em;
  }
}

/*main section*/

.icon-group{
  z-index: 0;
  width: 100vw;
  height: 300px;
  animation: scrolling-left 20s infinite linear;
}

.icon-group2{
  z-index: 0;
  width: 100vw;
  height: 300px;
  animation: scrolling-right 20s infinite linear;
}

.icon-group2 i,
.icon-group i{
  font-size: 100px;
  align-self:center;
  color:white;
  margin: 0;
  border:0;
}

@keyframes scrolling-left{
  from{
    transform:translateX(100%);
  }
  to{
    transform:translateX(-100%);
  }
}


@keyframes scrolling-right{
  from{
    transform:translateX(-100%);
  }
  to{
    transform:translateX(100%);
  }
}

#hero-background {
  background-image: url("..//images/fundo.png");

  min-height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
  color: white;
  z-index: 0;
  transform: scale(1.1);

  transition: min-height 0.5s;
}

#hero-background:has(+ #hero-content .content h2:hover) {
  min-height: 200px;
  --mask:
    radial-gradient(25.61px at 50% 36.00px,#000 99%,#0000 101%) calc(50% - 40px) 0/80px 51% repeat-x,
    radial-gradient(25.61px at 50% -16px,#0000 99%,#000 101%) 50% 20px/80px calc(51% - 20px) repeat-x,
    radial-gradient(25.61px at 50% calc(100% - 36.00px),#000 99%,#0000 101%) calc(50% - 40px) 100%/80px 51% repeat-x,
    radial-gradient(25.61px at 50% calc(100% + 16.00px),#0000 99%,#000 101%) 50% calc(100% - 20px)/80px calc(51% - 20px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

h2:hover + .call-to-action{
  visibility: hidden;
}

.hero{
  background-color: black;
}

#hero-content{
  padding-top: 100px;
  min-height: 100vh;
  color: white;
}

#hero-content .content{
  text-shadow: -6px 2px 8px rgba(0, 0, 0, 1);
}

#hero-content .content p{
  font-size: clamp(var(--fs-sm), 5vw, var(--fs-md));
}

#hero-content .content h1{
  font-size: clamp(40px, 8vw, 80px);
}

#hero-content .content h2{
  font-size: clamp(20px, 8vw, 40px);
}

.call-to-action{
  display: inline-block;
  background-color: transparent;
  color: yellow;
  text-shadow: -6px 2px 8px rgba(0, 0, 0, 1);
  cursor: pointer;

  border: 2px solid black;

  transition: background 1s;
}

.call-to-action:hover{
  background-color: rgb(0, 0, 0, 0.3);
  color: yellow;
}

/*Contact section*/
#contact {}

.form {
  margin-top: 100px;
  font-family: Antonio;
  font-size: bigger;
}

.submitbutton {
  padding: 20px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  align-self: flex-end;
}

.inputgroup {
  width: 100%;
}

.inputgroup input,
textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid white;

  padding: 10px;

  color: white;
  background-color: black;
  font-size: larger;
}

#hobbiesinterests {}

#summary {
  padding-top: 100px;
}

.summary{
  margin-left: 100px;
}

/* Footer */
.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 20px;
}

.iconredesfooter {
  padding: 10px;
  font-size: 2em;
  cursor: pointer;
  color: black;
}

.iconredesfooter:hover {
  font-size: 2.5em;
}

.iconredes {
  display: inline-block;
  font-size: 1.5em;
  padding: 5px;
  color: gold;
  background-color:transparent;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s;
}

.iconredes:hover {
  transform: scale(1.3);
}

.pageend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #C0C0C0;
  min-height: 200px;
  padding: 50px;
}

.pageend a {
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
  font-family: Antonio;
}

.pageend li {
  display: inline;
}

.redesNav {}