@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

:root {
    --black: #000000;
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    width: 100%;
    min-height: 600px;
    padding: 60px;
    margin: 0;
    border: 0;
    scroll-margin-top: 0;
    height: 100vh;

}

.pad20px {
    padding: 20px;
}

.mainImage {
    background-color: red;
    border: 1px solid black;
    display: none;
}

/*I can link each subtitle with one div showing a little bit of sauce*/
.subtitle:hover~.mainImage {
    display: block;
}

/*smaller screens configs*/
@media(max-width:768px) {

    /*In smaller screens the subtitles are each one on a line*/
    .subtitle {
        display: block;
    }
}

/*remember that the elements should have a width property*/
.centralizedcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle {
    font-size: 9em;
    font-style: bold;
    font-family: Antonio;
}

.mainTitle .tab {
    margin-left: 100px;
}

.mainTitle:hover {
    color: white;
}

.subtitle {
    font-size: 1.5em;
}

.onTop {
    position: relative;
    z-index: 999;
}

.subtitle:hover {
    font-weight: bold;
    font-size: 2em;
    color: white;
}

#main {
    position: relative;
}

#main:hover {
    background-color: black;
}

.maincopy:hover {
    background-color: white;
}

/*I using this class to add a effect to the main section, once the user hovers the subtitle*/
.maincopy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
    padding: 60px;
    margin: 0;
    border: 0;
    scroll-margin-top: 0;
    height: 100vh;
    z-index: auto;
}

.center {
    text-align: center;
}

.primarySecondary {
    background-color: black;
    color: white;
}

.secondaryPrimary {
    background-color: white;
    color: black;
}

#contact {}


#hobbiesinterests {}

#summary {}